<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Which provider ?-->
    <add key="provider" value="System.Data.OleDb"/>

    <!-- Which connection string?-->
    <add key="connectionString" value="Provider=SQLOLEDB;Data Source=.\SQLEXPRESS;
         Initial Catalog=AutoLot;Integrated Security=SSPI;Pooling=False"/>
  </appSettings>
  <!-- Here are the connection strings -->
  <connectionStrings>
    <add name="AutoLotSqlProvider" connectionString="Data Source=.\SQLEXPRESS;
         Initial Catalog=AutoLot;Integrated Security=SSPI;Pooling=False"/>
    <add name="AutoLotOleDbProvider" connectionString="Provider=SQLOLEDB;Data Source=.\SQLEXPRESS;
         Initial Catalog=AutoLot;Integrated Security=SSPI;Pooling=False"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>